name: My Workflow
on:
  push:
    branches: [ "master" ]
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'
          cache: 'maven'
      
      - name: Clean project
        run: mvn clean
      
      - name: Compile project
        run: mvn compile
      
      - name: Run tests
        run: mvn test
      
      - name: Execute Java application
        run: mvn exec:java
